<div class="container margem">
    <div class="text-center">
        <h1>Cadastro de Funcionario</h1>
    </div>
    <hr/>
    <div class="row justify-content-center">
        <form class="col-sm-5">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="João/Maria" [(ngModel)]="funcionario.nome">
            </div>
            <div class="form-group">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf" placeholder="999.999.999-99" [(ngModel)]="funcionario.cpf">
            </div>
            <div class="form-group">
                <label for="cargo">Cargo:</label>
                <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Desenvolvedor de Sistemas" [(ngModel)]="funcionario.cargo">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="(99) 9999-9999" [(ngModel)]="funcionario.telefone">
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="endereco@email.com" [(ngModel)]="funcionario.email">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" (click)="incluir(funcionario)" [routerLink]="['/funcionarios']">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Incluir
                </button>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>